body {
  margin:0px;
  background-image:url('../../images/本文档介绍/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:295px 120px;
  position:relative;
  left:-0px;
  width:1249px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u1684 {
  position:absolute;
  left:1001px;
  top:29px;
  width:100px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u1685 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:2px;
}
#u1686 {
  position:absolute;
  left:100px;
  top:1531px;
  width:1149px;
  height:1px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1689 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1689_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1689.mouseOver {
}
#u1690 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1691 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1691_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1691.mouseOver {
}
#u1692 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1693 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1693_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1693.mouseOver {
}
#u1694 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1695 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1695_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1695.mouseOver {
}
#u1696 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1697 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1697_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1697.mouseOver {
}
#u1698 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1699 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1700 {
  position:absolute;
  left:0px;
  top:26px;
  width:200px;
  word-wrap:break-word;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1701 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1701_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1701.mouseOver {
}
#u1702 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u1703 {
  position:absolute;
  left:440px;
  top:71px;
  width:20px;
  height:10px;
}
#u1704 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:510px;
  height:21px;
}
#u1705p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:502px;
  height:1px;
}
#u1705p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:512px;
  height:21px;
}
#u1705p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1705p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1705p002 {
  position:absolute;
  left:486px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1705p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1705.compound {
  width:0px;
  height:0px;
}
#u1705 {
  position:absolute;
  left:100px;
  top:484px;
  width:500px;
  height:1px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:-8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:461px;
}
#u1707p000 {
  position:absolute;
  left:-225px;
  top:224px;
  width:451px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1707p000_img {
  position:absolute;
  left:-15px;
  top:-6px;
  width:471px;
  height:13px;
}
#u1707p001 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:22px;
  height:22px;
}
#u1707p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u1707p002 {
  position:absolute;
  left:0px;
  top:449px;
  width:1px;
  height:2px;
}
#u1707p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:13px;
}
#u1707.compound {
  width:0px;
  height:0px;
}
#u1707 {
  position:absolute;
  left:349px;
  top:260px;
  width:1px;
  height:450px;
  color:#666666;
}
#u1708 {
  position:absolute;
  left:2px;
  top:217px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:411px;
  height:22px;
}
#u1709p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:404px;
  height:4px;
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  transform:rotate(-30deg);
}
#u1709p000_img {
  position:absolute;
  left:-2px;
  top:-8px;
  width:415px;
  height:24px;
}
#u1709p001 {
  position:absolute;
  left:25px;
  top:100px;
  width:3px;
  height:3px;
}
#u1709p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:14px;
  height:23px;
}
#u1709p002 {
  position:absolute;
  left:357px;
  top:-108px;
  width:22px;
  height:22px;
}
#u1709p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1709.compound {
  width:0px;
  height:0px;
}
#u1709 {
  position:absolute;
  left:144px;
  top:490px;
  width:400px;
  height:2px;
  color:#3399FF;
}
#u1710 {
  position:absolute;
  left:2px;
  top:-7px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1711 {
  position:absolute;
  left:602px;
  top:475px;
  width:79px;
  height:19px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1713 {
  position:absolute;
  left:317px;
  top:240px;
  width:66px;
  height:19px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1714 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3399FF;
  text-align:center;
}
#u1715 {
  position:absolute;
  left:444px;
  top:269px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3399FF;
  text-align:center;
}
#u1716 {
  position:absolute;
  left:0px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u1717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1718_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:307px;
  height:202px;
}
#u1718 {
  position:absolute;
  left:242px;
  top:500px;
  width:304px;
  height:199px;
  color:#3399FF;
}
#u1719 {
  position:absolute;
  left:2px;
  top:92px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:26px;
  height:22px;
}
#u1720p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:9px;
  height:3px;
  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  -ms-transform:rotate(-1deg);
  transform:rotate(-1deg);
}
#u1720p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:29px;
  height:23px;
}
#u1720p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u1720p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:23px;
  height:23px;
}
#u1720p002 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1720p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u1720.compound {
  width:0px;
  height:0px;
}
#u1720 {
  position:absolute;
  left:543px;
  top:500px;
  width:6px;
  height:2px;
  color:#3399FF;
}
#u1721 {
  position:absolute;
  left:2px;
  top:-7px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:286px;
  height:178px;
}
#u1722 {
  position:absolute;
  left:150px;
  top:299px;
  width:283px;
  height:175px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#3399FF;
}
#u1723 {
  position:absolute;
  left:2px;
  top:80px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:22px;
}
#u1724p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:7px;
  height:2px;
  -webkit-transform:rotate(-68deg);
  -moz-transform:rotate(-68deg);
  -ms-transform:rotate(-68deg);
  transform:rotate(-68deg);
}
#u1724p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:27px;
  height:22px;
}
#u1724p001 {
  position:absolute;
  left:0px;
  top:2px;
  width:3px;
  height:3px;
}
#u1724p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:23px;
  height:23px;
}
#u1724p002 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:22px;
  height:22px;
}
#u1724p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u1724.compound {
  width:0px;
  height:0px;
}
#u1724 {
  position:absolute;
  left:430px;
  top:295px;
  width:5px;
  height:2px;
  color:#3399FF;
}
#u1725 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:422px;
  height:22px;
}
#u1726p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:413px;
  height:2px;
}
#u1726p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:424px;
  height:22px;
}
#u1726p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u1726p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u1726p002 {
  position:absolute;
  left:395px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1726p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1726.compound {
  width:0px;
  height:0px;
}
#u1726 {
  position:absolute;
  left:150px;
  top:484px;
  width:411px;
  height:2px;
}
#u1727 {
  position:absolute;
  left:2px;
  top:-7px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:411px;
  height:22px;
}
#u1728p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:403px;
  height:3px;
  -webkit-transform:rotate(36deg);
  -moz-transform:rotate(36deg);
  -ms-transform:rotate(36deg);
  transform:rotate(36deg);
}
#u1728p000_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:414px;
  height:23px;
}
#u1728p001 {
  position:absolute;
  left:37px;
  top:-118px;
  width:3px;
  height:3px;
}
#u1728p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:14px;
  height:23px;
}
#u1728p002 {
  position:absolute;
  left:346px;
  top:104px;
  width:22px;
  height:22px;
}
#u1728p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1728.compound {
  width:0px;
  height:0px;
}
#u1728 {
  position:absolute;
  left:150px;
  top:485px;
  width:400px;
  height:2px;
  color:#3399FF;
}
#u1729 {
  position:absolute;
  left:2px;
  top:-7px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u1730 {
  position:absolute;
  left:482px;
  top:358px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u1731 {
  position:absolute;
  left:0px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u1732 {
  position:absolute;
  left:508px;
  top:444px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u1733 {
  position:absolute;
  left:0px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u1734 {
  position:absolute;
  left:507px;
  top:515px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u1735 {
  position:absolute;
  left:0px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u1736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u1736 {
  position:absolute;
  left:499px;
  top:615px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u1737 {
  position:absolute;
  left:0px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u1738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:483px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1738 {
  position:absolute;
  left:719px;
  top:240px;
  width:530px;
  height:483px;
  font-size:13px;
}
#u1739 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u1740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u1740 {
  position:absolute;
  left:100px;
  top:150px;
  width:1149px;
  height:40px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u1741 {
  position:absolute;
  left:0px;
  top:2px;
  width:1149px;
  word-wrap:break-word;
}
#u1742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1742 {
  position:absolute;
  left:209px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1742_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1742.mouseOver {
}
#u1743 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u1744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1744 {
  position:absolute;
  left:309px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1744_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1744.mouseOver {
}
#u1745 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u1746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1746 {
  position:absolute;
  left:409px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1746_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1746.mouseOver {
}
#u1747 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
