body {
  margin:0px;
  background-image:url('../../images/本文档介绍/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:295px 120px;
  position:relative;
  left:-0px;
  width:1249px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1997 {
  position:absolute;
  left:209px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1997_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1997.mouseOver {
}
#u1998 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1999 {
  position:absolute;
  left:309px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1999_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1999.mouseOver {
}
#u2000 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2001 {
  position:absolute;
  left:409px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2001_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2001.mouseOver {
}
#u2002 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u2003 {
  position:absolute;
  left:100px;
  top:240px;
  width:1154px;
  height:235px;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2005 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2006 {
  position:absolute;
  left:116px;
  top:0px;
  width:111px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2007 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2008 {
  position:absolute;
  left:227px;
  top:0px;
  width:786px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2009 {
  position:absolute;
  left:2px;
  top:8px;
  width:782px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2010 {
  position:absolute;
  left:1013px;
  top:0px;
  width:136px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2011 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:55px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:35px;
  width:116px;
  height:55px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2013 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u2014 {
  position:absolute;
  left:116px;
  top:35px;
  width:111px;
  height:55px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2015 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:55px;
}
#u2016 {
  position:absolute;
  left:227px;
  top:35px;
  width:786px;
  height:55px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2017 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:55px;
}
#u2018 {
  position:absolute;
  left:1013px;
  top:35px;
  width:136px;
  height:55px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2019 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:90px;
  width:116px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2021 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2022 {
  position:absolute;
  left:116px;
  top:90px;
  width:111px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2023 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2024 {
  position:absolute;
  left:227px;
  top:90px;
  width:786px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2025 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2026 {
  position:absolute;
  left:1013px;
  top:90px;
  width:136px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2027 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:125px;
  width:116px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2029 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2030 {
  position:absolute;
  left:116px;
  top:125px;
  width:111px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2031 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2032 {
  position:absolute;
  left:227px;
  top:125px;
  width:786px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2033 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2034 {
  position:absolute;
  left:1013px;
  top:125px;
  width:136px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2035 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:160px;
  width:116px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2037 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2038 {
  position:absolute;
  left:116px;
  top:160px;
  width:111px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2039 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2040 {
  position:absolute;
  left:227px;
  top:160px;
  width:786px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2041 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2042 {
  position:absolute;
  left:1013px;
  top:160px;
  width:136px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2043 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2044 {
  position:absolute;
  left:0px;
  top:195px;
  width:116px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2045 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2046 {
  position:absolute;
  left:116px;
  top:195px;
  width:111px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2047 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2048 {
  position:absolute;
  left:227px;
  top:195px;
  width:786px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2049 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2050 {
  position:absolute;
  left:1013px;
  top:195px;
  width:136px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2051 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u2052 {
  position:absolute;
  left:100px;
  top:150px;
  width:1149px;
  height:40px;
  font-family:'MicrosoftYaHei', '微软雅黑 Normal', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u2053 {
  position:absolute;
  left:0px;
  top:2px;
  width:1149px;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u2055 {
  position:absolute;
  left:1001px;
  top:29px;
  width:100px;
  height:30px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u2056 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2058 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2058_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2058.mouseOver {
}
#u2059 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2060 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2060_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2060.mouseOver {
}
#u2061 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2062 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2062_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2062.mouseOver {
}
#u2063 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2064 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u2065 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2067 {
  position:absolute;
  left:0px;
  top:26px;
  width:200px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u2068 {
  position:absolute;
  left:740px;
  top:71px;
  width:20px;
  height:10px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2070 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2070_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2070.mouseOver {
}
#u2071 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2072 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2072_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2072.mouseOver {
}
#u2073 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
